:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background: url(/public/assets/background.png) no-repeat center;
  background-color: var(--body-background);
  background-size: cover;
  color: var(--text-color);
  overflow-x: hidden;
}

main#content {
  padding: 40px 80px 70px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 90px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
  font-size: 18px;
  cursor: pointer;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background: var(--text-color);
  border: none;
  height: 50px;
  width: 230px;

  font-size: 16px;
  font-weight: 700;

  transition: background 0.3s;
}

button img {
 margin-right: 15px;
}

button:hover {
  background: var(--color-logo);
  color: var(--text-color);
  transition: background 0.3s;
}

section#intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

div#selected-artists {
  margin-right: 40px;
}

div#group-avatars {
  display: flex;
  align-items: flex-end;
  margin-top: 55px;
}

div#group-avatars img {
  margin-right: 6px;
}

h2 {
  font-size: 50px;
}

h2 strong {
  color: var(--color-logo);
}

section#gallery div {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section#gallery img {
  border: 1px solid var(--text-color);
}

section#details {
  height: 100%;
  display: grid;
  grid-template-areas: 
    "number text text"
    "number image image";
}

#details-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: number;
  padding-right: 70px;

  font-size: 20px;
  font-weight: 500;
  color: var(--subtitle-color);
  text-align: center;
}

#details-number strong {
  font-size: 50px;
  color: var(--text-color);
}

#details-text {
  display: flex;
  grid-area: text;
  padding: 60px;
  font-size: 16px;
}

#details-text p {
  margin-bottom: 70px;
}

#details-text p a {
  color: var(--color-logo);
}

#details-text a {
  color: var(--text-color);
}

#details-image {
  height: 100px;
  grid-area: image;
  background: url(/public/assets/banner.png) no-repeat center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  margin: 100px 0;
}

.separator {
  height: 700px;
  width: 1px;
  background: var(--subtitle-color);
}

article.card {
  max-width: 345px;
  margin-bottom: 70px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.card-header h3 {
  font-size: 30px;
  font-weight: 500;
}

.card-header img {
  cursor: pointer;
}

.card-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 32px;
}

.card-author span {
  font-weight: 600;
  color: var(--subtitle-color);
}

.card-author strong {
  font-weight: 400;
  color: var(--color-logo);
}

section#best-artists {
  height: 100%;
  text-align: center;
}

#artist-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 70px;
}

.artist {
  cursor: pointer;
  height: 150px;
  width: 350px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: var(--text-color);
  background: var(--card-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px;
}

.artist strong {
  color: var(--color-logo);
  font-weight: 500;
}

.active {
  background: var(--color-logo);
}

.active strong {
  color: var(--text-color);
}

#see-more-artists {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
}

#see-more-artists img {
  margin-left: 35px;
}

footer {
  background: var(--card-color);
  height: 70vh;
  display: grid;
  grid-template-areas:
    "top top"
    "email links"
    "social social";
}

.footer-top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--subtitle-color);
  border-top-width: 0px;
  padding: 0 80px
}

.footer-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: var(--color-logo);
  transition: background 0.3s;
}

.footer-top a:hover {
  background: var(--text-color);
  transition: background 0.3s;
}

.footer-mail {
  grid-area: email;
  border: 1px solid var(--subtitle-color);
  border-width: 0px 1px 0px 1px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-mail label {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: left;
}

.footer-mail label strong {
  color: var(--color-logo);
  font-weight: 500;
}

.mail-input-group {
  height: 68px;
  width: auto;
}

.mail-input-group input {
  border: none;
  height: 100%;
  width: 280px;
  background: var(--color-input);
  color: var(--subtitle-color);
  font-size: 20px;
  text-align: center;
}

.mail-input-group button {
  cursor: pointer;
  border: none;
  background: var(--text-color);
  color: var(--black-text);
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: 120px;
}

.footer-menu {
  grid-area: links;
  border: 1px solid var(--subtitle-color);
  border-width: 0px 1px 0px 0px;
  padding: 0 200px 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu ul {
  display: block;
}

.footer-menu ul li {
  margin-bottom: 30px;
}

.footer-menu ul li a {
  text-decoration: none;
  color: var(--subtitle-color);
  font-size: 20px;
}

.footer-menu ul li .link-highlight {
  color: var(--text-color);
  font-weight: bold;
}

.footer-social {
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--subtitle-color);
  padding: 0 80px
}

.footer-social span {
  font-size: 20px;
  color: var(--subtitle-color);
  font-style: normal;
}

.footer-social ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer-social ul li {
  margin: 0 25px;
}